/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
/* styles for the radio buttons */

input[type='radio']:after {
 width: 24px;
 height: 24px;
 border-radius: 24px;
 cursor: pointer;
 position: relative;
 background-color: #535353;
 content: '';
 display: inline-block;
 visibility: visible;
 border: 2px solid white;
}

input[type='radio']:checked:after {
 width: 24px;
 height: 24px;
 border-radius: 24px;
 cursor: pointer;
 position: relative;
 background-color: #320404;
 content: '';
 display: inline-block;
 visibility: visible;
 border: 2px solid white;
}
